.autocomplete {
  position: relative;
  width: 250px;
}

.autocomplete__input-wrapper {
  background: rgba(0,0,0,.05);
  border-radius: 4px 4px 0 0;
  position: relative;
  padding: 0 12px;
}

.autocomplete__input {
  background: none;
  border: 0;
  cursor: text;
  padding: 0;
  height: 0;
  min-height: 45px;
  min-width: 50px;
  line-height: 24px;
  outline: 0;
  width: 100%;
}

.menu {
  box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;
  left: 0;
  position: absolute;
  right: 0;
}

.menu__item {
  background: #fff;
  border: 0;
  cursor: pointer;
  display: block;
  min-height: 38px;
  padding: 8px 16px;
  transition: background-color .1s;
  width: 100%;
}

.menu__item--focused {
  background: lightgrey;
}

